*
{
    margin: 0;
    padding: 0;
}

html {
    /* background-color: #1e1a20; */
    background-color: #272a31;

}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    gap: 80vh;
}

.section1, .section2, .section3
{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100vh;

    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
}
.section p {
    width: 650px;
}

section:nth-child(odd)
{
    padding-left: 50%;
}